@{
    ViewBag.Title = "Cis174 HomePage";
}

<style>
    h1 {
        margin-top: 0;
        color: navy;
    }

    label {
        display: inline-block;
        width: 10em;
        padding-right: 1em;
    }

    div {
        margin-bottom: .5em;
    }

</style>

<h2>CIS174 Snyder-Home page</h2>
